body{
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
}
.upper{
        background-color: rgb(75, 26, 18);
        height: 700px;
}
.nav_menu{
       display: flex;
       justify-content: space-between; 
       padding: 0px 90px;
       align-items: center;

}
#logo{
        font-size: 36px;

        color:#15295f;
        font-weight: 800;
}
.menu_item{
        list-style: none;
        gap: 20px;
        display: flex;
        font-size: 20px;
        color:#15295f;
        font-weight: 600;
        cursor: pointer;
}
.menu_item>li:hover{
        color: orange;
}

#hire{
      color: white;
      background-color:rgb(253,110,10);
      font-size: 20px;  
      font-family: arial;
      height: 50px;
      width: 110px;
      border-radius: 35px;
      border: none;
      /* margin-top: ; */

}
#hire:hover{
        color: rgb(253,110,10);
        background-color: white;
        border: 2px solid rgb(253,110,10);
        /* border-color: orangered; */
}
.hero{
        display: flex;
        justify-content: space-evenly; 
        padding: 0px 90px;
        align-items: center
}
.text{
        margin-bottom: 40px;
}

.hero h5{
        color:rgb(206,111,46);
        font-size: 34px;
        font-weight: 700;
        line-height: 31px;
        margin-bottom: 6px;
       
        
}
.hero h1{
        font-weight:700;
        font-size: 75px;
        color: rgb(171,201,234);
        line-height: 113px;
        margin-top: 4px;
        margin-bottom: 5px;
        
}
.hero h4{
        color:rgb(171,201,234);
        margin-bottom: 15px;
        margin-top: 5px;
        
}
.hero p{
       
        color: #e0d9d9;
        font-size: 15px;
}
.hero .button{
        margin-top: 50px;
        gap:30px;
}
 .download {
        background-color: rgb(253,110,10);
        color: #fff;
        border: none;      
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 50px;

}
.download:hover{
        color: rgb(253,110,10);
        background-color: white;
        border: 2px solid rgb(253,110,10);
        /* border-color: orangered; */
}
.contact{

        color: rgb(253,110,10);
        background-color: white;
        border: 2px solid rgb(253,110,10);
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 50px;
        padding: 15px 32px;
        text-align: center;
        /* border-color: orangered; */
        
      }
.contact:hover{
        background-color: rgb(253,110,10);
        color: #fff;
        border: none;      
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 50px;
}
.lower-part{
        display: flex;
        justify-content:space-between;
        border-radius: 100px;
        width:70%;
        height: 100px;
        padding:30px;
        position: relative;
        bottom: 50px;
        margin-left: 200px;
        background-color: rgb(42, 42, 43);
}
hr{
        height:90px;
        font-weight: 100;
        color: gray;
}
.one{
        display:flex;
        gap:15px;
        
        
}
.one img{
        background-color: rgb(253,110,10);
        border: none;      
        padding: 25px;
        text-decoration: none;
        display: inline-block;      
        font-size: 20px;
        top:10px;
        width:20px;
        cursor: pointer;
        border-radius: 50%;
}
.one h6{
        color: rgb(171,201,234);
       font-size: 25px;

}
.one .part{
        margin-bottom:70px;
}
.one h6 span{
        color:rgb(253,110,10);
        font-size: 10px;
}